# Flask/Secret Keys
SECRET_KEY="Secret Key"
JWT_SECRET_KEY="JWT ACCESS KEY"
JWT_ACCESS_TOKEN_EXPIRES=3600

# Database
DB_USERNAME="test"
DB_PASSWORD="test123"
DB_HOST="localhost"
DB_NAME="database"
# Optionally, you can override the full URI
# SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:Passw0rd!23@localhost/portfolio
SQLALCHEMY_POOL_RECYCLE=299

# Mail
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USE_TLS="True"
MAIL_USERNAME="xyz@gmail.com"
MAIL_PASSWORD="password"
MAIL_RECIPIENT="abc@gmail.com"
